/* Gerais */
body {
  font-family: 'Roboto', sans-serif;
}

/* Barra de navegação */
header, .navbar {
  background-color: #353D41;
  padding: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 80vh;
}

.btn-slider {
  background-color: #3EC1D5;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.btn-slider:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #3EC1D5;
}