/* Gerais */
body {
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #353D41;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #3EC1D5;
}

.carousel-indicators .active {
  background-color: #65DAF9;
}

/* Sobre a empresa */

#about-area {
  background-color: #F9F9F9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #65DAF9;
  margin-right: 15px;
}

/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i, .service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
  color: #65DAF9;
}

/* Dados */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* Time */

.card-body {
  text-align: center;
}

/* Trabalhe conosco */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

#company-img {
  background-image: url('../img/empresa.jpg');
  background-size: cover;
  height: 100%;
}

#pattern-img h4, #pattern-img p {
  color: #FFF;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #FFF;
}

#apply-btn:hover {
  border-color: #65DAF9;
  background-color: #65DAF9;
}

/* Portfólio */

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
  color: #FFF;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
}

/* News Letter */

#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #65DAF9;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: #FFF;
  color: #65DAF9;
}

/* Call To Action */

#call-area {
  background-color: #65DAF9;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  display: inline;
}

#call-area #call-btn {
  background-color: #FFF;
  color: #65DAF9;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
}

/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3EC1D5;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #3EC1D5;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #3EC1D5;
}

/* Copy */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3EC1D5;
}

/* responsive */
@media(max-width: 768px) {
  
  /* geral */
  .container {
    padding: 20px 0;
  }
  
  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
  
  /* about */
  #about-area img {
    margin-top: 100px;
  }
  
  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }
  
  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p, #call-area #call-btn {
    font-size: 16px;
  }

}


@media(max-width: 425px) {

  /* slider */
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    
    font-size: 14px;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* news */
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

}